.question_details {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.question_details > h2 {
  margin: 1rem;
  font-weight: 300;
  font-size: larger;
}
.question_status {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 1rem auto;
  background-color: lightgreen;
}
.question_status-not {
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: fit-content;
  margin: 1rem auto;
  background-color: lightsalmon;
}
.question_status > h2,
.question_status-not > h2 {
  font-size: large;
}
.modal > p {
  text-align: center;
}
.button > a {
  text-decoration: none;
}
.button {
  width: fit-content;
  margin: 1rem auto;
}
.button > a > button {
  text-transform: inherit;

  background-color: #0792f7;
  color: white;
}
.button > a > button:hover {
  background-color: #0792f7;
  color: white;
}
.search_bar {
  display: flex;
  align-items: center;
  width: 40rem;
  margin: 1rem auto;
  border: 1px solid lightgray;
  padding: 0.5rem;
  border-radius: 1rem;
}
.search_bar > input {
  width: 100%;
  border: none;
  margin-left: 1rem;
  outline-width: 0;
}
